.form-box-register {
    width: 350px;
    height: 580px;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 20px 5px lightgray;
}
.form-box-login {
    width: 350px;
    height: 450px;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 20px 5px lightgray;
}
.login-box {
    text-align: center;
}
input:focus {
    outline: none;
}
input {
    border-style: none;
    border-bottom-style: groove;
    padding: 5px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: white;
}
.checkText{
    position: relative;
    top: -4px;
}
.error {
    color: red;
}

button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.register {
    background-color: blue;
}
.register:hover {
    background-color: dodgerblue;
}
.google-btn {
    background-color: gray;
    font-size: 15px;
}
.google-btn:hover {
    background-color: lightgray;
}
.icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
